@import url('https://fonts.googleapis.com/css2?family=Abel&family=Bungee&family=Michroma&family=Rubik+Iso&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/fondo_negro.jpg);
    height: 100vh;
    width: 100%;
}

/*inicio header*/
header{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    margin: auto;
    margin-bottom: 0;
    text-transform: uppercase;
}
header h1{
    flex: 50%;
    width: 100%;
    font-family: 'Michroma', sans-serif;
    font-size: 48px;
    text-align: center;
    margin: 10px;
}
header h1 a{
    color: #EAEBEC;
    text-decoration: none;
    
}
header h1 a span{
    color: yellow;
}
@media (max-width:721px) {
    header h1 {
        font-size: 32px;
    }
}
@media (max-width:570px) {
    header h1 {
        font-size: 28px;
    }
}
@media (max-width:440px) {
    header h1 {
        font-size: 22px;
    }
}
/*fin header*/



/*INICIO NAV*/  
nav {
    display: flex;
    background: black;
    height: 60px;
    width: 100%;
    text-align: center;  
    justify-content: center;
}
nav ul {
    list-style: none;
    text-decoration: none;
}
nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
li a:hover {
    background: yellow;
    color: black;
    transition: .7s;
}
.checkbtn {
    font-size: 30px;
    color: #fff;
    justify-content: center;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}
@media (max-width: 721px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background: #242323f1;
        top: 120px;
        left: -100%;
        text-align: center;
        transition: all .9s;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 5px;
    }
    nav ul li a{
        font-size: 18px;
    }
    li a:hover, li a.active{
        background: none;
        color: yellow;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
@media (max-width: 921px) and (min-width: 722px){
    ul{
        top: 151px;
    }
}
@media (max-width: 721px) and (min-width: 571px){
    ul{
        top: 128px;
    }
}
@media (max-width: 570px) and (min-width: 441px){
    ul{
        top: 119px;
    }
}
@media (max-width: 440px) and (min-width: 275px){
    ul{
        top: 112px;
    }
}
/*FIN NAV*/



/*INICIO HOME TEXTO1*/
#home1{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(33, 30, 30, 0.274);
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    text-transform: uppercase;
    word-spacing: 0.3vw;
    line-height: 1.5;
}
#home1 h2{
    width: 100%;
    text-align: center;
    margin: 20px 35px;
    color: yellow;
    font-size: 26px;
    font-style: oblique;
}
#home1 p{
    margin: 15px 35px;
    font-size: 16px;
    text-align: justify;
}
@media (max-width: 720px){
    #home1{
        margin-top: 10px;
        word-spacing: 0.5vw;
        line-height: 1.4;
    }
    #home1 h2{
        font-size: 20px;
        width: 100%;
        margin: 15px 15px;
    }
    #home1 p{
        font-size: 14px;
        margin: 15px 15px;
    }
}
@media (max-width: 450px){
    #home1{
        margin-top: 10px;
        word-spacing: 0.5vw;
        line-height: 1.4;
    }
    #home1 h2{
        font-size: 18px;
        width: 100%;
        margin: 15px 15px;
    }
    #home1 p{
        font-size: 13px;
        margin: 15px 15px;
    }
}
/*FIN HOME TEXTO1*/


/*INICIO HOME2*/
.home2{
    display: flex;
    flex-wrap: wrap;
    color: white;
    background-color: rgba(33, 30, 30, 0.274);
    width: 90%;
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
    text-transform: uppercase;
    word-spacing: 0.3vw;
    line-height: 1.5;
    
}
.home2 h2{
    width: 100%;
    text-align: center;
    margin: 20px 35px;
    color: yellow;
    font-size: 26px;
    font-style: oblique;
}
.home2 p{
    margin: 15px 35px;
    font-size: 16px;
    text-align: justify;
}
@media (max-width: 720px){
    .home2{
        margin-top: 10px;
        word-spacing: 0.5vw;
        line-height: 1.4;
    }
    .home2 h2{
        font-size: 20px;
        width: 100%;
        margin: 15px 15px;
    }
    .home2 p{
        font-size: 14px;
        margin: 15px 15px;
    }
}
@media (max-width: 450px){
    .home2 {
        margin-top: 10px;
        word-spacing: 0.5vw;
        line-height: 1.4;
    }
    .home2 h2{
        font-size: 18px;
        width: 100%;
        margin: 15px 15px;
    }
    .home2 p{
        font-size: 13px;
        margin: 15px 15px;
    }
}
/*FIN HOME2*/


/*INICIO HOME CONTAINER-PRODUCTOS*/
#container-productos{
    display: flex;
    background-color: grey;
    margin: auto;
    text-align: center;
    color: #EAEBEC;
    padding: 10px;
}
#container-productos h2{
    flex: 20%;
    font-size: 30px;
    font-style: oblique;
    color: yellow;
    margin: auto;
}
.productosVariedad {
    flex: 70%;
    display:flex; 
    flex-wrap: wrap;
    font-size: 16px;
    padding: 15px;
    margin: auto;
}
.productosVariedad p1{
    flex: 40%;
    text-align: right;
    margin-right: 10px;
}
.productosVariedad p2{
    flex: 40%;
    text-align: left;
}
@media (max-width: 927px){
    .productosVariedad p2{
        font-size: 14px;
    }
}
@media (max-width: 821px){
    .productosVariedad p2{
        font-size: 0px;
    }
    .productosVariedad p1{
        flex: 100%;
        text-align: right;
    }
}
@media (max-width: 450px){
    #texto2 h2{
        flex: 50%;
        font-size: 16px;
        font-style: oblique;
        color: yellow;
        margin: auto;
    }
    .productosVariedad p1{
        flex: 100%;
        font-size: 10px;
        text-align: center;
    }
    .productosVariedad {
        flex: 50%;
}
}
/*FIN HOME CONTAINER-PRODUCTOS*/


#texto3{
    background-color: none;
    margin-top: 90px;
    text-align: center;
    color: #EAEBEC;
    display: inline-block center;
    padding: 10px;
}
#texto3 h2{
    font-size: 40px;
    font-style: oblique;
    color: yellow;
}
#texto3 p{
    font-size: 18px;
    font-style: normal;
}

/*INICIO GALERIA*/
#galeria{
    display: flex;
    background-color: grey;
    margin: auto;
    margin-top: 0px;
    text-align: center;
    color: #EAEBEC;
    padding: 10px;
}
#galeria h2{
    flex: 15%;
    font-size: 30px;
    font-style: oblique;
    color: yellow;
    margin: auto;
}
.envioGratis {
    flex: 70%;
    display:flex; 
    flex-wrap: wrap;
    font-size: 16px;
    padding: 15px;
    margin: auto;
}
.envioGratis p1{
    flex: 20%;
    text-align: right;
}
.envioGratis p2{
    flex: 60%;
    text-align: left;
    margin-left: 10px;
}
@media screen and (max-width: 1050px){
    .envioGratis p1{
        flex: 10%;
        text-align: right;
    }
    .envioGratis p2{
        display: none;
    }
}
@media screen and (max-width: 720px){
    .envioGratis {
        flex: 0%;
        margin: 0;
        padding: 0;
        font-size: 0px;
    }
    .envioGratis p1{
        display: none;
        font-size: 0px;
        margin: 0;
        padding: 0;
    }
    .envioGratis p2{
        display: none;
        margin: 0;
        padding: 0;
    }
    #galeria h2{
        flex: 100%;
        width: 100;
        font-size: 20px;
        text-align: center;
    }
}
@media screen and (max-width: 450px){
    .envioGratis p1{
        display: none;
    }
    .envioGratis p2{
        display: none;
    }
    #texto4 h2{
        flex: 100%;
        font-size: 20px;
        text-align: center;
    }
}
/*FIN GALERIA*/




/*INICIO TEXTO FOOTER*/
#textoFooter{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.144);
    margin: auto;
    margin-top: 40px;
    text-align: justify;
    color: #EAEBEC;
    padding: 90px;
}
#textoFooter h2{
    font-size: 30px;
    width: 100%;
    text-align: center;
    color: yellow;
    font-style: oblique;
    padding: 10px 25px;
    margin-bottom: 20px;
    margin-top: 30px;
}
#textoFooter p{
    font-size: 18px;
    font-style: normal;
    margin-bottom: 25px;
}
@media screen and (max-width: 721px){
    #textoFooter{
        width: 95%;
        background-color: rgba(0, 0, 0, 0.144);
        margin: auto;
        margin-top: 20px;
        text-align: justify;
        color: #EAEBEC;
        padding: 30px;
    }
    #textoFooter h2{
        font-size: 24px;
        width: 100%;
        text-align: center;
        color: yellow;
        font-style: oblique;
        padding: 10px 25px;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    #textoFooter p{
        font-size: 14px;
        font-style: normal;
        margin-bottom: 25px;
    }
}
/*FIN TEXTO FOOTER*/





/*inicio productos-imagen*/
.linea {
    border-top: 5px solid 0077c0;
    margin-bottom: 40px;
}
.contenedor-productos {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-around;
    border-radius: 5px;
}
.contenedor-productos .imagen {
    width: 90%;
    position: relative;
    height: 250px;
    margin: 30px 0px;
    box-shadow: 0px 0px 3px rgba(32, 31, 31, 0.881);
}
.imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.overley {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #0d0d0e8a;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: .5s ease;
}
.overley h2 {
    color: yellow;
    font-weight: 300;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-family: 'Michroma', sans-serif;
}
.overley h2 a {
    text-decoration: none;
    list-style: none;
    color: yellow;
}
.imagen:hover .overley {
    height: 100%;
    cursor: pointer;
}
@media screen and (max-width: 1000px){
    .contenedor-productos {
        width: 95%;
    }
}
@media screen and (max-width: 700px){
    .contenedor-productos {
        width: 90%;
    }
    .contenedor-productos .imagen {
        width: 48%;
    }
}
@media screen and (max-width: 550px){
    h1 {
        font-size: 22px;
    }
    .contenedor-productos {
        width: 98%;
    }
    .contenedor-productos .imagen {
        width: 80%;
    }
}
/*fin productos-imagen*/




/*inicio HOME MAGSAFE*/
.magsafe {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.magsafe img{
    margin: auto;
    padding-bottom: 30px;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    
}
@media (min-width:320px) {
    .magsafe {
        min-width: 100px;
        margin: auto;  
    }
}
/*FIN HOME MAGSAFE*/





/*INICIO CONTACTO-CONTACTO*/
.contacto form {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
}
.contacto h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}
.contacto input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}
.contacto textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}
#boton {
    background: #33384a;
    color: #fff;
}
#boton:hover{
    cursor: pointer;
}
/*FIN CONTACTO-CONTACTO*/





/*INICIO TITTLE-GALERRY*/
.titleGalerry{
    text-align: center;
    font-family: 'Michroma', sans-serif;
    font-size: 30px;
    color: white;
    transition: all 300ms;
}
.titleGalerry:hover {
    color: yellow;
    transform: scale(1.2);
}
.gallery-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1.2rem;
    row-gap: 1.2rem;
}
.gallery__item {
    position: relative;
}
.gallery__img{
    width: 100%;
    filter: blur(3px);
    border-radius: 5px;
}
.gallery__img:hover {
    transform: scale(1.1);
    filter: none;
}
@media (min-width:200px) {
    .gallery-container {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        margin: auto;
        padding: 15px;
    }
}
@media (min-width:350px) {
    .gallery-container {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        margin: auto;
        padding: 15px;  
    }
}
@media screen and (max-width: 720px){
    .titleGalerry{
        font-size: 20px;
    }
}
@media (min-width:950px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
        width: 90%;
        margin: auto;
    }
}
/*FIN TITTLE-GALERRY*/




/*INICIO TEXTO-PRODUCTOS*/
.texto-productos{
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.144);
    color: white;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-radius: 15px;
    text-transform: uppercase;
    word-spacing: 0.3vw;
    line-height: 1.5;
}
.texto-productos h2{
    width: 100%;
    text-align: center;
    margin: 20px 35px 20 30px;
    padding-top: 20px;
    font-size: 24px;
    font-style: oblique;
}
.texto-productos span{
    color: yellow;
}
.texto-productos p{
    margin: 15px 35px;
    font-size: 14px;
    text-align: justify;
}
@media (max-width: 720px){
    .texto-productos{
        margin-top: 10px;
        word-spacing: 0.5vw;
        line-height: 1.4;
    }
    .texto-productos h2{
        font-size: 20px;
        width: 100%;
        margin: 15px 15px;
    }
    .texto-productos p{
        font-size: 14px;
        margin: 15px 15px;
    }
}
@media (max-width: 450px){
    .texto-productos {
        margin-top: 10px;
        word-spacing: 0.5vw;
        line-height: 1.4;
    }
    .texto-productos h2{
        font-size: 18px;
        width: 100%;
        margin: 15px 15px;
        margin-bottom: 5px;
    }
    .texto-productos p{
        font-size: 13px;
        margin: 15px 15px;
        margin-top: 5px;
    }
}
/*FIN TEXTO-PRODUCTOS*/





/*INICIO FOOTER*/
.footer{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: white; 
}
.box1{
    flex: 50%;
    width: 100%;
    font-size: 14px;
    justify-content: left;
}
.box1 h2{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    font-size: 35px;
    margin: 20px 30px;
    text-transform: uppercase;
    font-family: 'Michroma', sans-serif;
}
.box1 h2 span {
    color: yellow;
}
.box1 p {
    margin: 20px 30px;
}
.box1 p span{
    color: yellow;
    margin: 20px 10px;
    font-style: oblique;
}


.box2{
    flex: 50%;
    width: 100%;
    font-size: 14px;
    text-align: right;
    justify-content: left;
    background-color: none;
}
.box2 h2{
    font-family: 'Michroma', sans-serif;
    font-size: 16px;
    text-align: right;
    margin: 20px 30px;
}
.redes{
    width: 100%;
    padding: 10px 25px;
}
.redes a{
    display: inline-block;
    text-align: right;
}
.redes a i{
    color: yellow;
    padding: 6px;

    font-size: 20px;
}
.box2 p{
    margin: 20px 30px;
    text-decoration:none;
}
.box2 p span a{
    color: yellow;
    list-style-type: none;
    text-decoration:none;
}
@media (max-width: 577px){
    .box1{
        font-size: 20px;
        text-align: center;
        justify-content: center;
    }
    .box1 h2 {
        font-size: 22px;
        width: 80%;
        margin:auto;
        margin-top: 20px;
        justify-content: center;
    }
    .box1 p {
        font-size: 13px;
    }
    .box1 u {
        font-size: 13px;
    }
    .box2{
        flex: 100%;
        width: 100%;
        font-size: 13px;
        text-align: center;
    }
    .box2 h2{
        font-family: 'Michroma', sans-serif;
        font-size: 15px;
        text-align: center;
        margin: 40px 30px 10px 30px;
        
    }
}
/*FIN FOOTER*/
